@model MessageModel

@{
    ViewData["Title"] = "Chat page";
    var message = ViewData["message"] as string;
}

<div class="container">




    <form method="post" class="form">
        <h2 class="login-text">Chat</h2>
        <div style="background-color: grey; width: 100%; height: 1px; margin: 10px;"></div>


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <div class="form-group2">
            <label asp-for="Content" class="form-label"></label>
            <input asp-for="Content" class="form-input" required/>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <span class="error-message-span">@ViewBag.ErrorMessage</span>
        <input type="submit" value="Send" class="action-button" asp-action="SendMessage" />
    </form>





</div>
<div class="container">
    <h2>My messages</h2>
    <p>@message</p>
</div>
